
<div class= "tyt-navbar d-flex justify-content-between align-items-center">
  <%= link_to root_path do %>
    <div class="d-flex">
      <%#= image_tag "mon-image", class: "" %>
      <div class="<%= url_for == root_path ? 'white-color' : "logo-background" %>">TakeYourTime
      </div>
    </div>
  <% end %>
  <div class= "tyt-navbar-right">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag "https://files.slack.com/files-pri/T02NE0241-FJT6B1QPK/al.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Follow your path", achievements_path, class: "dropdown-item" %>
            <%= link_to "Find a class","#", class: "dropdown-item" %>
            <%= link_to "Who are we ?", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

