<h1>Achievements#index</h1>

  <% @achievements = current_user.achievements %>
    <% @achievements.each do | achievement | %>
      <ul>
        <li> <%= achievement.mood.name %> </li>
        <li> <%= achievement.exercice.name %> </li>
        <li> <%= achievement.rating %> </li>
        <li> <%= achievement.date %> </li>
      </ul>
  <% end %>

<%= link_to "HOME", root_path %>
<%= link_to "Exercises", exercices_path(@exercice) %>
