
<div class="general">

  <h1 class="pt-5">Exercises</h1>

  <div class="exo-form">
    <%= simple_form_for :search, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, label: false, input_html: {value: ""} %>
      <%= f.submit "Search", class: "search" %>
    <% end %>
  </div>

  <div class="container">
    <div class="row">
      <% @exercices.each do | exercice | %>

        <div class="col-lg-4 ">
          <%= link_to exercice_path(exercice) do %>
            <div class="tyt-card animated">
              <div class="card-category ">
                <%= exercice.name %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
