<h1>Index#exercises</h1>

<% @exercices.each do | exercice | %>
  <%= link_to exercice_path(exercice) do %>
    <ul>
      <li> <%= exercice.name %> </li>
    </ul>
  <% end %>
<% end %>




<%= simple_form_for :search, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :name, input_html: {value: ""} %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

  <%#= form_tag exercice_path(exercice) , method: :get do %>
    <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find Exercise"
    %>
  <%# end %>
